### 문서 군집화
- 비슷한 텍스트 구성의 문서를 군집화하여 같은 카테고리 소속으로 분류
- 학습 데이터 세트가 필요없는 비지도학습 기반으로 동작

In [4]:
# Opinion Review 데이터 세트를 이용한 문서 군집화 수행
# 51개 텍스트 파일로 구성, 호텔, 자동차, 전자제품 사이트에서 가져온 리뷰 문서

import pandas as pd
import glob, os

path = './dataset/OpinosisDataset1.0/topics'

all_files = glob.glob(os.path.join(path, '*.data'))
filename_list = []
opinion_text = []

# glob()는 파일들의 목록을 뽑을 때 사용하며 파일의 경로명을 이용
# path로 지정한 디렉토리 밑에 있는 모든 .data 파일들의 파일명을 리스트로 취합
# 개별 파일들의 파일명은 filename_list리스트로 취합

# 개별 파일들의 파일내용은 DataFrame 로딩 후 다시 string으로 변환하여 opinion_text 리스트로 취합
for file_ in all_files:
    # 개별 파일을 읽어서 DataFrame으로 생성 
    df = pd.read_table(file_,index_col=None, header=0,encoding='latin1')
    
    # 절대경로로 주어진 file 명을 가공. 만일 Linux에서 수행시에는 아래 \\를 / 변경. 맨 마지막 .data 확장자도 제거
    filename_ = file_.split('\\')[-1]
    filename = filename_.split('.')[0]

    #파일명 리스트와 파일내용 리스트에 파일명과 파일 내용을 추가. 
    filename_list.append(filename)
    opinion_text.append(df.to_string())

# 파일명 리스트와 파일내용 리스트를  DataFrame으로 생성
document_df = pd.DataFrame({'filename':filename_list, 'opinion_text':opinion_text})
document_df.head()

,filename,opinion_text
0,accuracy_garmin_nuvi_255W_gps,...
1,bathroom_bestwestern_hotel_sfo,...
2,battery-life_amazon_kindle,...
3,battery-life_ipod_nano_8gb,...
4,battery-life_netbook_1005ha,...

In [6]:
# punc 삭제 : dict((ord(char), None))
# ord(): 문자의 아스키 코드 값을 돌려주는 함수
import string
s = '... some string with punctuation ...'
# 마침표 삭제
translate_table = dict((ord(char), None) for char in string.punctuation)
s.translate(translate_table)

' some string with punctuation '

In [7]:
# import string

# punc 삭제 연습
s1 = '......test...check...'
t_table = dict((ord(char), None) for char in string.punctuation)
s1.translate(t_table)

'testcheck'

In [7]:
# tokenizer는 LemNormalize 함수 만들어서 이용
from nltk.stem import WordNetLemmatizer
import nltk
import string

remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
lemmar = WordNetLemmatizer()

def LemTokens(tokens):
    return[lemmar.lemmatize(token) for token in tokens]

def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [8]:
# 피처 벡터화
import warnings
warnings.filterwarnings('ignore')

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(
    tokenizer=LemNormalize
    , stop_words='english'
    , ngram_range=(1,2)
    , min_df=0.05, max_df=0.85
)

#opinion_text 컬럼값으로 feature vectorization 수행
feature_vect = tfidf_vect.fit_transform(document_df.opinion_text)

In [9]:
feature_vect.toarray()

array([[0.04832472, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.01547441, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.0088014 , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

### clustering

In [58]:
from sklearn.cluster import KMeans

# 5개 집합으로 군집화 수행. (cluser_label 0~4)
# 예제를 위해 동일한 클러스터링 결과 도출용 random_state=0
km_cluster = KMeans(n_clusters=5, max_iter=1000, random_state=0)

km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_
cluster_center = km_cluster.cluster_centers_
document_df['cluster_label'] = cluster_label
document_df.head()

# cluster_label이 0,1,2,3,4인 것만 추리기
df_0 = document_df[document_df.cluster_label == 0]
df_1 = document_df[document_df.cluster_label == 1]
df_2 = document_df[document_df.cluster_label == 2]
df_3 = document_df[document_df.cluster_label == 3]
df_4 = document_df[document_df.cluster_label == 4]

df_0

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,0
8,directions_garmin_nuvi_255W_gps,...,0
9,display_garmin_nuvi_255W_gps,...,0
33,satellite_garmin_nuvi_255W_gps,...,0
34,screen_garmin_nuvi_255W_gps,...,0
43,speed_garmin_nuvi_255W_gps,...,0
47,transmission_toyota_camry_2007,...,0
48,updates_garmin_nuvi_255W_gps,...,0

- kmeans 단점\
kmeans 개수를 정해줘야 하는데 임의로 정하고 검증함

In [59]:
document_df[document_df.cluster_label==2].sort_values(by='filename')

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,2
7,comfort_toyota_camry_2007,...,2
16,gas_mileage_toyota_camry_2007,...,2
17,interior_honda_accord_2008,...,2
18,interior_toyota_camry_2007,...,2
22,mileage_honda_accord_2008,...,2
25,performance_honda_accord_2008,...,2
29,quality_toyota_camry_2007,...,2
37,seats_honda_accord_2008,...,2

In [60]:
km_cluster = KMeans(n_clusters=3, max_iter=1000, random_state=0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_
cluster_center = km_cluster.cluster_centers_
document_df['cluster_label'] = cluster_label
document_df

df_0 = document_df[document_df.cluster_label == 0]
df_0

# df_1 = document_df[document_df.cluster_label == 1]
# df_1

# df_2 = document_df[document_df.cluster_label == 2]
# df_2

# df_3 = document_df[document_df.cluster_label == 3]

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,0
2,battery-life_amazon_kindle,...,0
3,battery-life_ipod_nano_8gb,...,0
4,battery-life_netbook_1005ha,...,0
5,buttons_amazon_kindle,...,0
8,directions_garmin_nuvi_255W_gps,...,0
9,display_garmin_nuvi_255W_gps,...,0
10,eyesight-issues_amazon_kindle,...,0
11,features_windows7,...,0
12,fonts_amazon_kindle,...,0
19,keyboard_netbook_1005ha,...,0
23,navigation_amazon_kindle,...,0
26,performance_netbook_1005ha,...,0
27,price_amazon_kindle,...,0
33,satellite_garmin_nuvi_255W_gps,...,0
34,screen_garmin_nuvi_255W_gps,...,0
35,screen_ipod_nano_8gb,...,0
36,screen_netbook_1005ha,...,0
41,size_asus_netbook_1005ha,...,0
42,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,0
43,speed_garmin_nuvi_255W_gps,...,0
44,speed_windows7,...,0
48,updates_garmin_nuvi_255W_gps,...,0
49,video_ipod_nano_8gb,...,0
50,voice_garmin_nuvi_255W_gps,...,0

In [57]:
document_df[document_df.cluster_label==2].sort_values(by='filename')

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,2
7,comfort_toyota_camry_2007,...,2
16,gas_mileage_toyota_camry_2007,...,2
17,interior_honda_accord_2008,...,2
18,interior_toyota_camry_2007,...,2
22,mileage_honda_accord_2008,...,2
25,performance_honda_accord_2008,...,2
29,quality_toyota_camry_2007,...,2
37,seats_honda_accord_2008,...,2
47,transmission_toyota_camry_2007,...,2

#### 3개로 조정하여 군집화

In [62]:
#from sklearn.cluster import KMeans

# 5개로 군집화된 결과는 약간 많게 설정되어 있어서 군집화가 다소 세분화된 경향
# 3개의 집합으로 군집화 

km_cluster = KMeans(n_clusters=3, max_iter=10000, random_state=0)
km_cluster.fit(feature_vect)

cluster_label = km_cluster.labels_
# 소속 클러스터를 cluster_label 컬럼으로 할당하고 cluster_label 값으로 정렬
document_df['cluster_label'] = cluster_label
document_df.sort_values(by='cluster_label')

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,0
48,updates_garmin_nuvi_255W_gps,...,0
44,speed_windows7,...,0
43,speed_garmin_nuvi_255W_gps,...,0
42,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,0
41,size_asus_netbook_1005ha,...,0
36,screen_netbook_1005ha,...,0
35,screen_ipod_nano_8gb,...,0
34,screen_garmin_nuvi_255W_gps,...,0
33,satellite_garmin_nuvi_255W_gps,...,0
27,price_amazon_kindle,...,0
26,performance_netbook_1005ha,...,0
49,video_ipod_nano_8gb,...,0
23,navigation_amazon_kindle,...,0
19,keyboard_netbook_1005ha,...,0
50,voice_garmin_nuvi_255W_gps,...,0
9,display_garmin_nuvi_255W_gps,...,0
4,battery-life_netbook_1005ha,...,0
3,battery-life_ipod_nano_8gb,...,0
2,battery-life_amazon_kindle,...,0
8,directions_garmin_nuvi_255W_gps,...,0
10,eyesight-issues_amazon_kindle,...,0
11,features_windows7,...,0
12,fonts_amazon_kindle,...,0
5,buttons_amazon_kindle,...,0
13,food_holiday_inn_london,...,1
39,service_holiday_inn_london,...,1
38,service_bestwestern_hotel_sfo,...,1
1,bathroom_bestwestern_hotel_sfo,...,1
14,food_swissotel_chicago,...,1
20,location_bestwestern_hotel_sfo,...,1
24,parking_bestwestern_hotel_sfo,...,1
15,free_bestwestern_hotel_sfo,...,1
31,rooms_swissotel_chicago,...,1
30,rooms_bestwestern_hotel_sfo,...,1
45,staff_bestwestern_hotel_sfo,...,1
40,service_swissotel_hotel_chicago,...,1
21,location_holiday_inn_london,...,1
46,staff_swissotel_chicago,...,1
32,room_holiday_inn_london,...,1
28,price_holiday_inn_london,...,1
47,transmission_toyota_camry_2007,...,2
16,gas_mileage_toyota_camry_2007,...,2
6,comfort_honda_accord_2008,...,2
7,comfort_toyota_camry_2007,...,2
29,quality_toyota_camry_2007,...,2
22,mileage_honda_accord_2008,...,2
18,interior_toyota_camry_2007,...,2
17,interior_honda_accord_2008,...,2
37,seats_honda_accord_2008,...,2
25,performance_honda_accord_2008,...,2

In [63]:
# 0 전자제품, 1 호텔, 2 자동차로 군집화
document_df[document_df.cluster_label==2].sort_values(by='filename')

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,2
7,comfort_toyota_camry_2007,...,2
16,gas_mileage_toyota_camry_2007,...,2
17,interior_honda_accord_2008,...,2
18,interior_toyota_camry_2007,...,2
22,mileage_honda_accord_2008,...,2
25,performance_honda_accord_2008,...,2
29,quality_toyota_camry_2007,...,2
37,seats_honda_accord_2008,...,2
47,transmission_toyota_camry_2007,...,2

In [65]:
# 군집별 핵심 단어 추출 : clusters_centers_ 속성 사용(행은 개별 군집, 열은 개별 피처)
# 각 행의 배열 값(0~1)은 각 군집 내의 피처의 위치가 개별 중심과 얼마나 가까운가를 상대 값으로 나타냄
# 1에 가까울 수록 중심과 가까움
cluster_centers = km_cluster.cluster_centers_
print('shape: ', cluster_centers.shape);print()
print('clusters_centers\n', cluster_centers);print()

cluster_centers[2, 1]

shape:  (3, 4611)

clusters_centers
 [[0.01005322 0.         0.         ... 0.00706287 0.         0.        ]
 [0.         0.00099499 0.00174637 ... 0.         0.00183397 0.00144581]
 [0.         0.00092551 0.         ... 0.         0.         0.        ]]

0.0009255147372799376

In [66]:
# 군집별 top n 핵심단어, 그 단어의 중심 위치 상대값, 대상 파일명들을 반환 
# cluster_centers_ 배열 내에서 가장 값이 큰 데이터의 위치 인덱스 추출한 뒤 해당 인덱스를 이용
# 핵심 단어 이름과 상대 위치값을 추출해 cluster_details에 반환
def get_cluster_details(cluster_model, cluster_data, feature_names, clusters_num, top_n_features=10):
    cluster_details = {}
    
    # cluster_centers array 의 값이 큰 순으로 정렬된 index 값을 반환
    # 군집 중심점(centroid)별 할당된 word 피처들의 거리값이 큰 순으로 값을 구하기 위함.  
    centroid_feature_ordered_ind = cluster_model.cluster_centers_.argsort()[:,::-1]
    
    #개별 군집별로 iteration하면서 핵심단어, 그 단어의 중심 위치 상대값, 대상 파일명 입력
    for cluster_num in range(clusters_num):
        # 개별 군집별 정보를 담을 데이터 초기화. 
        cluster_details[cluster_num] = {}
        cluster_details[cluster_num]['cluster'] = cluster_num
        
        # cluster_centers_.argsort()[:,::-1] 로 구한 index 를 이용하여 top n 피처 단어를 구함. 
        top_feature_indexes = centroid_feature_ordered_ind[cluster_num, :top_n_features]
        top_features = [ feature_names[ind] for ind in top_feature_indexes ]
        
        # top_feature_indexes를 이용해 해당 피처 단어의 중심 위치 상댓값 구함 
        top_feature_values = cluster_model.cluster_centers_[cluster_num, top_feature_indexes].tolist()
        
        # cluster_details 딕셔너리 객체에 개별 군집별 핵심 단어와 중심위치 상대값, 
        # 그리고 해당 파일명 입력
        cluster_details[cluster_num]['top_features'] = top_features
        cluster_details[cluster_num]['top_features_value'] = top_feature_values
        filenames = cluster_data[cluster_data['cluster_label'] == cluster_num]['filename']
        filenames = filenames.values.tolist()
        cluster_details[cluster_num]['filenames'] = filenames
        
    return cluster_details

In [67]:
# cluster_details를 반환하여 개별 군집번호, 핵심단어, 중심위치 상대값, 파일명 속성값 정보를 얻을 수 있으며
# print_cluster_details() 함수로 보기 좋게 표현
def print_cluster_details(cluster_details):
    for cluster_num, cluster_detail in cluster_details.items():
        print('####### Cluster {0}'.format(cluster_num))
        print('Top features:', cluster_detail['top_features'])
        print('Reviews 파일명 :',cluster_detail['filenames'][:7])
        print('==================================================')

In [68]:
# 피처명 리스트는 TF-IDF 변환된 tfidf_vect 객체에서 get_feature_names()로 추출
feature_names = tfidf_vect.get_feature_names()

cluster_details = get_cluster_details(cluster_model=km_cluster
                                      , cluster_data=document_df
                                      , feature_names=feature_names
                                      , clusters_num=3
                                      , top_n_features=10)
print_cluster_details(cluster_details)

####### Cluster 0
Top features: ['screen', 'battery', 'keyboard', 'battery life', 'life', 'kindle', 'direction', 'video', 'size', 'voice']
Reviews 파일명 : ['accuracy_garmin_nuvi_255W_gps', 'battery-life_amazon_kindle', 'battery-life_ipod_nano_8gb', 'battery-life_netbook_1005ha', 'buttons_amazon_kindle', 'directions_garmin_nuvi_255W_gps', 'display_garmin_nuvi_255W_gps']
==================================================
####### Cluster 1
Top features: ['room', 'hotel', 'service', 'staff', 'food', 'location', 'bathroom', 'clean', 'price', 'parking']
Reviews 파일명 : ['bathroom_bestwestern_hotel_sfo', 'food_holiday_inn_london', 'food_swissotel_chicago', 'free_bestwestern_hotel_sfo', 'location_bestwestern_hotel_sfo', 'location_holiday_inn_london', 'parking_bestwestern_hotel_sfo']
==================================================
####### Cluster 2
Top features: ['interior', 'seat', 'mileage', 'comfortable', 'gas', 'gas mileage', 'transmission', 'car', 'performance', 'quality']
Reviews 파일명 : ['comfort_honda_accord_2008', 'comfort_toyota_camry_2007', 'gas_mileage_toyota_camry_2007', 'interior_honda_accord_2008', 'interior_toyota_camry_2007', 'mileage_honda_accord_2008', 'performance_honda_accord_2008']
==================================================